<extend name="Public/base" />
<block name="title">实验教学大纲</block>
<block name="main">

<style>
    input[type="reset"]{background: #337ab7; text-decoration: none;}
    .button{position: relative;overflow: hidden;margin-right: 4px;display:inline-block;
        *display:inline;padding:4px 10px 4px;font-size:14px;line-height:18px;
        *line-height:20px;color:#fff;
        text-align:center;vertical-align:middle;cursor:pointer;background:#5bb75b;
        border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;
        border-bottom-color:#b3b3b3;-webkit-border-radius:4px;
        -moz-border-radius:4px;border-radius:4px;}
    .button input{position: absolute;top: 0; right: 0;margin: 0;border:solid transparent;
        opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
    .progress{position:relative; margin-left:100px; margin-top:-24px;
        width:200px;padding: 1px; border-radius:3px; display:none}
    .bar {background-color: green; display:block; width:0%; height:20px;
        border-radius:3px; }
    .percent{position:absolute; height:20px; display:inline-block;
        top:3px; left:2%; color:#fff }
    .files{height:22px; line-height:22px; margin:10px 0}
    .delimg{margin-left:20px; color:#090; cursor:pointer}
</style>
<div class="container-fluid">
    <div class="header">
        <h1 class="text-center">资土学院 实验教学大纲</h1>
    </div>
    <!--<nav class="navbar navbar-default">-->
            <!--<div class="container-fluid" >-->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!--<div class="collapse navbar-collapse">-->
                    <!--<form class="navbar-form" action="__SELF__" method="post">-->
                        <!--<span class="text-info bg-warning">添加之前先搜一下课程库里是否已有该课程：</span>-->
                        <!--<div class="form-group">-->
                            <!--<select name="SMajor" class="selectpicker form-control">-->
                                <!--<option value="">&#45;&#45;选择专业&#45;&#45;</option>-->
                                <!--<option value="测绘工程">测绘工程</option>-->
                                <!--<option value="采矿工程">采矿工程</option>-->
                                <!--<option value="土木工程">土木工程</option>-->
                                <!--<option value="安全工程">安全工程</option>-->
                                <!--<option value="环境工程">环境工程</option>-->
                                <!--<option value="矿物加工工程">矿物加工工程</option>-->
                                <!--<option value="资源勘探工程">资源勘探工程</option>-->
                            <!--</select>-->
                        <!--</div>-->
                      <!--  <div class="form-group">
                            <input name="keywords" type="text" class="form-control" style="width: 300px;" placeholder="课程名称 / 教学大纲名称">
                            <button type="submit" class="btn btn-info">检索</button>
                        </div>-->
                    <!--</form>-->
                <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
        <!--</nav>-->
    <form action="__CONTROLLER__/IndexDo" method="post">
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <caption>
               添加实验教学大纲：
            </caption>
            <tbody>
                <tr>
                    <td>《
                        <input name="CName" required type="text" class="inline-input" style="width: 20%;" placeholder="教学大纲名称">
                        》实验教学大纲
                    </td>
                </tr>
                <tr>
                    <td>Experiment Syllabus of
                        <input name="EName" required type="text" class="inline-input" style="width: 85%; text-decoration: " placeholder="XXXXXX">
                    </td>
                </tr>
                <tr>
                    <td>课程代码：
                        <if condition="$CCode eq '' " >
                            <input name="CCode" required type="text" class="inline-input" placeholder="字母C开头的课程编号" value="{$CCode}">
                            <else />
                            <input name="CCode" required type="text" class="inline-input bg-success" style="border: 1px solid #00C1B3;" placeholder="字母C开头的课程编号" value="{$CCode}">
                        </if>

                    </td>
                </tr>
                <tr>
                    <td>学时数：
                        <input name="TNum" required type="text" class="inline-input" placeholder="填写数字">学时
                    </td>
                </tr>
                <tr>
                    <td class="checkbox">
                        实验要求：
                        <input id="radio1" required type="radio" name="shiYanYaoQiu" value="必修"><label for="radio1">必修</label>　　
                        <input id="radio2" required type="radio" name="shiYanYaoQiu" value="选修"><label for="radio2">选修</label>
                    </td>
                </tr>
                <tr>
                    <td>适用专业:
                        <select required name="SMajor" id="done" data-placeholder="==请选择适用专业==" class="selectpicker chosen-select " multiple data-done-button="true">
                            <option value="1007测绘工程">测绘工程  </option>
                            <option value="1001采矿工程">采矿工程  </option>
                            <option value="1009土木工程">土木工程  </option>
                            <option value="1003安全工程">安全工程  </option>
                            <option value="1005环境工程">环境工程  </option>
                            <option value="1004矿物加工工程">矿物加工工程</option>
                            <option value="1014资源勘查工程">资源勘查工程</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  class="checkbox">课程性质：
                        <input id="radio3" required type="radio" name="KeChengXingZhi" value="独立设课"><label for="radio3">独立设课</label>　　
                        <input id="radio4" required type="radio" name="KeChengXingZhi" value="非独立设课"><label for="radio4">非独立设课</label>
                    </td>
                </tr>
                <tr>
                    <td>课程负责人：
                        <input name="CMaster" required type="text" class="inline-input" placeholder="XXX">
                    </td>
                </tr>
                <tr>
                    <td>审核人：
                        <input name="CConductor" required type="text" class="inline-input" placeholder="XXX">
                    </td>
                </tr>
                <tr>
                    <td>批准人：
                        <input name="Allowed" value="车德福" type="text" required class="inline-input" placeholder="XXX">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <h4>一、课程目的与基本要求：</h4>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1.实验目的
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea required name="destination" class="form-control" placeholder="编号用圈内数字;eg:①.xxx; ②.xxx;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>2. 基本要求</td>
                </tr>
                <tr>
                    <td>
                        <textarea required name="BasicRequire" class="form-control" placeholder="编号用圈内数字;eg:①.xxx; ②.xxx;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <h4>二、实验方式与要求</h4>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <textarea required name="StyleRequire" class="form-control" placeholder="编号用圈内数字;eg:①.xxx; ②.xxx;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <h4>三、实验项目及教学安排　　
                    <a href="javascript:countIndex();" class="addRow small"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>不够写了？再添加一行吧:)</a>
                    <!--<button type="button" class="btn btn-defalut btn-small pull-right" data-toggle="modal" data-target="#uploadExcel">上传Excel文件</button>-->
                </h4>

            </thead>
            <tbody class="addRowBody">
                <tr>
                    <td>序号：</td>
                    <td>实验名称</td>
                    <td>基本内容</td>
                    <td>实验学时</td>
                    <td>每组人数</td>
                    <td>实验要求</td>
                    <td>实验类型</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td style="width: 70px"><input required name="TestNum[]" type="text" class="inline-input" style="width: 100%" value="1"></td>
                    <td><input required name="TestName[]" type="text" class="inline-input" style="width: 100%"></td>
                    <td><input required name="TestBasicContent[]" type="text" class="inline-input" style="width: 100%"></td>
                    <td style="width: 70px"><input required name="TestXueShi[]" type="text" class="inline-input" style="width: 100%"></td>
                    <td style="width: 70px"><input required name="TestPerTeam[]" type="text" class="inline-input" style="width: 100%;"></td>
                    <td style="width: 115px;">
                        <label><input type="radio" required name="TestRequire[]" value="必修">必修</label>
                        <label><input type="radio" required name="TestRequire[]" value="选修">选修</label>
                    </td>
                    <!--<td><input name="TestStyle[]" type="text" class="inline-input" style="width: 100%"></td>-->
                    <td nowrap="true">
                        <label><input required type="radio" name="TestStyle[]" value="综合型">综合型</label>
                        <label><input required type="radio" name="TestStyle[]" value="设计型">设计型</label>
                        <label><input required type="radio" name="TestStyle[]" value="演示型">演示型</label>
                        <label><input required type="radio" name="TestStyle[]" value="验证型">验证型</label>
                    </td>
                    <td style="width: 45px;"><a href="javascript:void(0);" onclick="clearRow(this)">删除</a></td>
                </tr>

            </tbody>

        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <h4>四、场地设备</h4>
            </thead>
            <tbody>
                <tr>
                    <td>场地：<input required name="TAddress" type="text" class="inline-input" placeholder="XXX"></td>
                </tr>
                <tr>
                    <td>主要仪器设备：<input required name="TInstrument" style="width: 90%;" type="text" class="inline-input" placeholder="XXX"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
            <h4>五、考核方式与成绩评定办法</h4>
            </thead>
            <tbody>
            <tr>
                <td>
                    <!--<textarea id="editor5" style="display:none;"></textarea>-->
                    <textarea required name="TEvaluate" class="form-control" placeholder="编号用圈内数字;eg:①.xxx; ②.xxx;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <h4>六、实验教材及参考书</h4>
            </thead>
            <tbody>
            <tr>
                <td>
                    <!--<textarea id="editor4"></textarea>-->
                    <textarea required name="TBook" class="form-control" placeholder="eg:[1] 崔坚主编.SIMATIC S7-1500与TIA博途软件使用指南.北京:工业出版社.2016"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
<!--
       <div class="form-group col-md-4">
            <button class="form-control btn btn-primary" >预览</button>
        </div>
-->
        <div class="form-group col-md-4">
            <input class="sub form-control btn btn-primary" value="确认提交" type="submit" >
        </div>
<!--
        <div class="form-group col-md-4">
            <input  class="form-control btn btn-primary" type="reset" value="重置并清空" >
        </div>
-->

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadExcel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">上传Excel文件</h4>
            </div>
            <div class="modal-body">
                <div class="button">
                    <span>添加附件</span>
                    <input id="fileupload" type="file" name="mypic">
                    <!--<input type="text" name="hiddenCCode">-->
                </div>
                <div class="progress">
                    <span class="bar"></span><span class="percent">0%</span >
                </div>
                <div class="files"></div>
                <div id="showimg"></div>
<!--
                <form id="formExcel" action="__CONTROLLER__/dealExcel" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                       <input type="file" name="ExcelFile">
                    </div>
                    <div class="form-group">
                        <button id="upload" class="btn btn-primary" type="button">上传</button>
                    </div>
                </form>
-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    // 只能用定义全局变量的方式来记录点击生成表格的行数了
    var i = 1;
    function countIndex() {
        i++;
    }

    $(function (){

        $('.addRow').on('click', function (index) {
            var flag = index.timeStamp.toString().substr(0, 4);
            var newRow = document.createElement("tr");
            var ibody = $('.addRowBody')[0];

            var td1 = document.createElement("td");
            td1.innerHTML="<input name=\"TestNum[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\" value="+(i+1)+">";
            newRow.appendChild(td1);

            var td2 = document.createElement("td");
            td2.innerHTML="<input name=\"TestName[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td2);

            var td3 = document.createElement("td");
            td3.innerHTML="<input name=\"TestBasicContent[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td3);

            var td4 = document.createElement("td");
            td4.innerHTML="<input name=\"TestXueShi[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td4);

            var td5 = document.createElement("td");
            td5.innerHTML="<input name=\"TestPerTeam[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td5);

            var td6 = document.createElement("td");
            td6.setAttribute('style', 'width:115px');
            td6.innerHTML="<label><input type=\"radio\" required name=\"TestRequire["+i+"]\" value=\"必修\">必修 </label> <label><input type=\"radio\" name=\"TestRequire["+i+"]\" value=\"选修\">选修</label>";
//            td6.innerHTML="<input name=\"TestRequire[]\" type=\"text\" class=\"inline-input\" style=\"width: 100%\" placeholder='填：必修或选修' required>";
            newRow.appendChild(td6);

            var td7 = document.createElement("td");
            td7.setAttribute('nowrap', 'true');
//            td7.innerHTML="<input name=\"TestStyle[]\" type=\"text\" class=\"inline-input\" style=\"width: 100%\" placeholder='从上一行的单选按钮中选一个填写'>";
            td7.innerHTML="<label><input type=\"radio\" required name=\"TestStyle["+i+"]\" value=\"综合型\">综合型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"设计型\">设计型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"演示型\">演示型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"验证型\">验证型</label>";
            newRow.appendChild(td7);

            var td8=document.createElement("td");
            td8.innerHTML="<a href=\"javascript:;\" onclick=\"clearRow(this)\">删除</a>";
            td8.setAttribute('style', 'width:45px;');
            newRow.appendChild(td8);
            ibody.appendChild(newRow);

        });

        $('input[name="CCode"]').on('blur', function () {
            $('input[name="hiddenCCode"]').val(this.value);
            var val = parseInt(this.value.substr(1, 4));
            switch (val) {
                case 1001:
                    console.log('caojianli');
                    $('input[name="CConductor"]').val('曹建立');
                    break;
                case 1003:
                    $('input[name="CConductor"]').val('郑欣');
                    break;
                case 1004:
                    $('input[name="CConductor"]').val('高淑玲');
                    break;
                case 1005:
                    $('input[name="CConductor"]').val('张铭川');
                    break;
                case 1007:
                    $('input[name="CConductor"]').val('马保东');
                    break;
                case 1009:
                    $('input[name="CConductor"]').val('陈猛');
                    break;
                case 1014:
                    $('input[name="CConductor"]').val('陈家富');
                    break;
            }
        /*
            // 将课程代码通过ajax发送到服务器上去
            if(this.value.trim().length == 11){
                $.ajax({
                    type: 'post',
                    url: '__CONTROLLER__/dealExcel',
                    data: this.value,
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        */
        });

/*
      $('#upload').on('click', function (e) {
            e.preventDefault();
//            console.log($('#formExcel'));
            var formData = new FormData($('#formExcel'));
//            console.log(formData);

            $.ajax({
                url: '__CONTROLLER__/dealExcel',
                type: 'post',
                data: formData,
                beforeSend: function () {
                    $('.btn-upload').addClass('disabled').html('数据交互中请稍后...');
                },
                success: function (response) {
                    console.log(response);
                },
                error: function (e) {
                    console.log('ajax上传出错！'+e.error);
                },
                complete: function () {
                    $('.btn-upload').removeClass('disabled').html('上传');
                }
            })

        });

*/

    });

    // 创建表格删除函数
    function clearRow(obj) {
        var ibody = $('.addRowBody')[0].lastChild;
        var c = obj.parentNode.parentNode;
        c.parentNode.removeChild(c);
        i--;
    }

    $(function () {
        var bar = $('.bar');
        var percent = $('.percent');
        var showimg = $('#showimg');
        var progress = $(".progress");
        var files = $(".files");
        var btn = $(".button span");
        $("#fileupload").wrap("<form id='myupload' action='__CONTROLLER__/dealExcel' method='post' enctype='multipart/form-data'></form>");
        $("#fileupload").change(function(){             // 选择文件
            $("#myupload").ajaxSubmit({
                dataType:  'json',                      // 数据格式为json
                data: 1,
                beforeSend: function() {                // 开始上传
                    showimg.empty();                    // 清空显示的图片
                    progress.show();                    // 显示进度条
                    var percentVal = '0%';              // 开始进度为0%
                    bar.width(percentVal);              // 进度条的宽度
                    percent.html(percentVal);           // 显示进度为0%
                    btn.html("上传中...");               //上传按钮显示上传中
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; // 获得进度
                    bar.width(percentVal);                  // 上传进度条宽度变宽
                    percent.html(percentVal);               // 显示上传进度百分比
                },
                success: function(data) {                   //成功
                    //获得后台返回的json数据，显示文件名，大小，以及删除按钮
                    showimg.html(data);
                    btn.html("添加附件");                    //上传按钮还原
                },
                error:function(xhr){                        //上传失败
                    btn.html("上传失败");
                    bar.width('0');
                    files.html(xhr.responseText);           //返回失败信息
                }
            });
        });
    });


//    $('.sub').on('click', function (event) {
//        event.preventDefault();
//        confirm('您确认提交吗?') ? (return true) : return false;
//    });

</script>
</block>


