<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>预览</title>
    <link rel="stylesheet" media="screen" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" media="screen" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" media="screen" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-overrides.css">
    <link rel="stylesheet" media="screen" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-select.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
</head>
<body>
<style>
    body {
        background: #CCCCCC;.
        font-family: "宋体";
    }
    div.body {
        width: 800px;
        margin: 0 auto;
        /*padding: 100px 100px 0 100px;*/
        padding: 100px;
        /*height: auto;*/
        background: #fff;
    }
    div.body h1 {
        font-weight: normal;
        font-size: 32px;
        text-align: center;
    }
    div.body h2 {
        font-family: "Times New Roman";
        font-weight: normal;
        font-size: 28px;
        text-align: center;
    }
    h3{
        font-size: 20px;
        font-weight: 700;
    }
    div.body h4 {
        clear: both;
        height: 25px;
        line-height: 25px;
    }
    div.body p {
        height: 30px;
        line-height: 30px;
    }
    div.body p.text{

        text-align: justify;
        height: inherit;    }

    section {
        width: 800px;
        margin: -100px auto;
        padding: 0 100px 100px 100px;
        background: #fff;
    }
    section p{
        text-indent: 30px;
        text-align: justify;
        line-height: 30px;
    }

    div.menu {
        width: 800px;
        margin: -50px auto;
        padding: 0 100px 100px 100px;
        background: #fff;
    }
</style>
<div class="body">
    <!--<section>-->
        <h1>{$result.CName}</h1>
        <h2><i>{$result.EName}</i></h2>
        <p>课程代码： {$result.CCode}</p>
        <p>学时数： {$result.TNum} 学时</p>
        <p>学分数： {$result.TScore}</p>
        <p>执笔人： {$result.TzhiBiRen}</p>
        <p>讨论参加人： {$result.TTaoLunCanJia}</p>
        <p>审核人：{$result.CConductor}</p>
        <p>批准人：{$result.Allowed}</p>
        <h4>1.目的与任务</h4>
        <p class="text"><pre>{$result.destination}</pre></p>

    <!--</section>-->
</div>
<section class="section">
    <h4>2.内容与要求</h4>
    <p class="text"><pre>{$result.ContentRequire}</pre></p>
    <h4>3.组织方式与进度安排</h4>
    <p class="text"><pre>{$result.progress}</pre></p>
    <h4>4.场地与设备</h4>
    <p><pre>{$result.Instrument}</pre></p>
    <h4>5.配套教材或指导书</h4>
    <p><pre>{$result.TBook}</pre></p>
    <h4>6.考核方式与成绩评定办法</h4>
    <p><pre>{$result.TEvaluate}</pre></p>
    <h4>7.其他</h4>
    <p><pre>{$result.TOthers}</pre></p>

</section>
    <div class="menu form-group">
        <a href="__CONTROLLER__/edit?id={$result.id}&ccode={$result.CCode}" class="btn btn-primary pull-left">返回修改</a>　　　　　　　　　　　　　
        <a href="__CONTROLLER__/overlook" class="btn btn-primary">直接返回让老师自己修改</a>　　
        <a href="__CONTROLLER__/confirm?id={$result.id}&CCode={$result.CCode}&flag=1" class="btn btn-primary pull-right">确认提交</a>
    </div>
<script type="text/javascript">
    // 只能用定义全局变量的方式来记录点击生成表格的行数了
    var i = 0;
    function countIndex() {
        i++;
    }
    $(function (){
        $('.addRow').on('click', function (index) {
            var flag = index.timeStamp.toString().substr(0, 4);
            var newRow = document.createElement("tr");
            var ibody = $('.addRowBody')[0];

            var td1 = document.createElement("td");
            td1.innerHTML="<input name=\"TestNum[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td1);

            var td2 = document.createElement("td");
            td2.innerHTML="<input name=\"TestName[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td2);

            var td3 = document.createElement("td");
            td3.innerHTML="<input name=\"TestBasicContent[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td3);

            var td4 = document.createElement("td");
            td4.innerHTML="<input name=\"TestXueShi[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td4);

            var td5 = document.createElement("td");
            td5.innerHTML="<input name=\"TestPerTeam[]\" required type=\"text\" class=\"inline-input\" style=\"width: 100%\">";
            newRow.appendChild(td5);

            var td6 = document.createElement("td");
            td6.setAttribute('style', 'width:115px');
            td6.innerHTML="<label><input type=\"radio\" required name=\"TestRequire["+i+"]\" value=\"必修\">必修 </label> <label><input type=\"radio\" name=\"TestRequire["+i+"]\" value=\"选修\">选修</label>";
//            td6.innerHTML="<input name=\"TestRequire[]\" type=\"text\" class=\"inline-input\" style=\"width: 100%\" placeholder='填：必修或选修' required>";
            newRow.appendChild(td6);

            var td7 = document.createElement("td");
            td7.setAttribute('nowrap', 'true');
//            td7.innerHTML="<input name=\"TestStyle[]\" type=\"text\" class=\"inline-input\" style=\"width: 100%\" placeholder='从上一行的单选按钮中选一个填写'>";
            td7.innerHTML="<label><input type=\"radio\" required name=\"TestStyle["+i+"]\" value=\"综合型\">综合型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"设计型\">设计型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"演示型\">演示型</label> <label><input type=\"radio\" name=\"TestStyle["+i+"]\" value=\"验证型\">验证型</label>";
            newRow.appendChild(td7);

            var td8=document.createElement("td");
            td8.innerHTML="<a href=\"javascript:;\" onclick=\"clearRow(this)\">删除</a>";
            td8.setAttribute('style', 'width:45px;');
            newRow.appendChild(td8);
            ibody.appendChild(newRow);

        });

        $('input[name="CCode"]').on('blur', function () {
            $('input[name="hiddenCCode"]').val(this.value);
            var val = parseInt(this.value.substr(1, 4));
            switch (val) {
                case 1001:
                    console.log('caojianli');
                    $('input[name="CConductor"]').val('曹建立');
                    break;
                case 1003:
                    $('input[name="CConductor"]').val('郑欣');
                    break;
                case 1004:
                    $('input[name="CConductor"]').val('高淑玲');
                    break;
                case 1005:
                    $('input[name="CConductor"]').val('张铭川');
                    break;
                case 1007:
                    $('input[name="CConductor"]').val('马保东');
                    break;
                case 1009:
                    $('input[name="CConductor"]').val('陈猛');
                    break;
                case 1014:
                    $('input[name="CConductor"]').val('陈家富');
                    break;
            }

            // 将课程代码通过ajax发送到服务器上去
            if(this.value.trim().length == 11){
                $.ajax({
                    type: 'post',
                    url: '__CONTROLLER__/dealExcel',
                    data: this.value,
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        });

        /*
         $('#upload').on('click', function (e) {
         e.preventDefault();
         //            console.log($('#formExcel'));
         var formData = new FormData($('#formExcel'));
         //            console.log(formData);

         $.ajax({
         url: '__CONTROLLER__/dealExcel',
         type: 'post',
         data: formData,
         beforeSend: function () {
         $('.btn-upload').addClass('disabled').html('数据交互中请稍后...');
         },
         success: function (response) {
         console.log(response);
         },
         error: function (e) {
         console.log('ajax上传出错！'+e.error);
         },
         complete: function () {
         $('.btn-upload').removeClass('disabled').html('上传');
         }
         })

         });

         */

    });

    // 创建表格删除函数
    function clearRow(obj) {
        var ibody = $('.addRowBody')[0].lastChild;
        var c = obj.parentNode.parentNode;
        c.parentNode.removeChild(c);

    }

</script>
</body>
</html>






