<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资土学院 教学管理系统</title>
</head>
<body>
<style>

    body{
        background: url('__PUBLIC__/img/404.png') transparent no-repeat 50% 60%;
        background-size: 50%;
    }
    .go{
        width: 100px;
        margin: 0 auto;
        padding-top: 400px;
    }
    .go a{
        color: #a1a1a1;
        text-decoration: none;
    }
    .go a:hover {
        text-decoration: underline;
    }
</style>

<div class="go">
    <a href="__MODULE__">返回重新来过</a>
</div>

</body>
</html>