<extend name="Public/base" />
<block name="title">所长审核</block>
<block name="main">
    <div class="container">
        <div class="header">
            <h1 class="text-center">资土学院 实验教学大纲 所长审核</h1>
        </div>



        <table class="table table-bordered table-hover">
            <tr>
                <th>:) 啦啦啦  所长审核 </th>
            </tr>
        </table>

    </div>


    <script>
//        if ($('.pagination li a')[0].innerHTML.trim ="" ){
            $('.pagination li a')[0].innerHTML ="首页";
//        }
    </script>
</block>


